@model RegisterUserViewModel
<div class="rtl">
    <h1>ثبت کابر جدید</h1>
    <form asp-action="RegisterUser">
        <div class="form-group">
            <input class="form-control" asp-for="Username" placeholder="نام کابری (آدرس Email)" />
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="Password" placeholder="رمز عبور" />
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="FirstName" placeholder="نام" />
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="LastName" placeholder="نام خانوادگی" />
        </div>
        <button class="btn btn-success" style="margin-top:4px;">ثبت</button>

    </form>
</div>